# Name: MMorph4J_
# Author: Wonder Alexandre Luz Alves
# Version: 1.1
# Date: 07/04/2015
# Requires: ImageJ 1.46k
# Generate the jar file using: "jar cvfM MMorph4J_.1.jar *"

Plugins>mmorph4j>, "Interative - connected filters", mmorph4j.Grain_filters
Plugins>mmorph4j>, "Interative - morphological operator based structuring element", mmorph4j.Morphological_operator_based_structuring_element
Plugins>mmorph4j>, "Interative - watershed by marker", mmorph4j.Interative_watershed_by_marker
Plugins>mmorph4j>, "Interative - ultimate levelings", mmorph4j.Ultimate_levelings
Plugins>mmorph4j>, "Interative - live wire segmentation", mmorph4j.Interative_liveWire_by_IFT


Plugins>mmorph4j>, "-"
Plugins>mmorph4j>, "Dilation", mmorph4j.Morphological_dilation
Plugins>mmorph4j>, "Erosion", mmorph4j.Morphological_erosion
Plugins>mmorph4j>, "Opening", mmorph4j.Morphological_opening
Plugins>mmorph4j>, "Closing", mmorph4j.Morphological_closing
Plugins>mmorph4j>, "Toggle mapping", mmorph4j.Morphological_ToggleMapping


Plugins>mmorph4j>, "-"
Plugins>mmorph4j>, "Gradient", mmorph4j.Morphological_gradient
Plugins>mmorph4j>, "Gradient (internal)", mmorph4j.Morphological_internal_gradient
Plugins>mmorph4j>, "Gradient (external)", mmorph4j.Morphological_external_gradient
Plugins>mmorph4j>, "White top-hat", mmorph4j.White_TopHat
Plugins>mmorph4j>, "Black top-hat", mmorph4j.Black_TopHat
Plugins>mmorph4j>, "Self top-hat", mmorph4j.Self_TopHat
Plugins>mmorph4j>, "Residual toggle mapping", mmorph4j.Morphological_ResidualToggleMapping
Plugins>mmorph4j>, "Contrast enhancement (top-hat)", mmorph4j.Realce_TopHat


Plugins>mmorph4j>, "-"
Plugins>mmorph4j>, "Reconstruction by dilation", mmorph4j.Reconstruction_by_dilation
Plugins>mmorph4j>, "Reconstruction by erosion", mmorph4j.Reconstruction_by_erosion
Plugins>mmorph4j>, "Opening by reconstruction", mmorph4j.Opening_by_reconstruction
Plugins>mmorph4j>, "Closing by reconstruction", mmorph4j.Closing_by_reconstruction
Plugins>mmorph4j>, "Self-reconstruction", mmorph4j.Self_reconstruction
Plugins>mmorph4j>, "H-basin", mmorph4j.Hbasin_reconstruction
Plugins>mmorph4j>, "H-domes", mmorph4j.HDomes_reconstruction


Plugins>mmorph4j>, "-"
Plugins>mmorph4j>, "Watershed based on minima", mmorph4j.Watershed_based_minima
Plugins>mmorph4j>, "Watershed by H-basin", mmorph4j.Watershed_by_HBasin
Plugins>mmorph4j>, "Watershed by marked", mmorph4j.Watershed_by_Marked
Plugins>mmorph4j>, "Labelings", mmorph4j.Labelings_
Plugins>mmorph4j>, "Extraction of regional extrema", mmorph4j.Extraction_of_regional_extrema
Plugins>mmorph4j>, "Extraction of regional maxima", mmorph4j.Extraction_of_regional_maxima
Plugins>mmorph4j>, "Extraction of regional minima", mmorph4j.Extraction_of_regional_minima

Plugins>mmorph4j>, "-"
Plugins>mmorph4j>, "Replace level", mmorph4j.Replace_level
Plugins>mmorph4j>, "ToS Interpolation", mmorph4j.ToS_Interpolation
Plugins>mmorph4j>, "Binary relation", mmorph4j.Binary_relation
