# Name: MMLib4J_
# Author: Wonder Alexandre Luz Alves
# Version: 1.0
# Date: 06/06/2015
# Requires: ImageJ 1.46k
# Generate the jar file using: "jar cvfM MMLib4J_.jar *"
Plugins>mmlib4j>, "-"
Plugins>mmlib4j>, " Interative - connected filters", mmlib4j.Grain_filters
Plugins>mmlib4j>, " Interative - morphological operator based structuring element", mmlib4j.Morphological_operator_based_structuring_element
Plugins>mmlib4j>, " Interative - watershed by marker", mmlib4j.Interative_watershed_by_marker
Plugins>mmlib4j>, " Interative - ultimate levelings", mmlib4j.Ultimate_levelings
#Plugins>mmlib4j>, " Interative - live wire segmentation", mmlib4j.Interative_liveWire_by_IFT
Plugins>mmlib4j>, "-"
Plugins>mmlib4j>Filtering>, "Dilation", mmlib4j.Morphological_dilation
Plugins>mmlib4j>Filtering>, "Erosion", mmlib4j.Morphological_erosion
Plugins>mmlib4j>Filtering>, "Opening", mmlib4j.Morphological_opening
Plugins>mmlib4j>Filtering>, "Closing", mmlib4j.Morphological_closing
Plugins>mmlib4j>Filtering>, "Toggle mapping", mmlib4j.Morphological_ToggleMapping
Plugins>mmlib4j>Filtering>, "-"
Plugins>mmlib4j>Filtering>, "Reconstruction by dilation", mmlib4j.Reconstruction_by_dilation
Plugins>mmlib4j>Filtering>, "Reconstruction by erosion", mmlib4j.Reconstruction_by_erosion
Plugins>mmlib4j>Filtering>, "Opening by reconstruction", mmlib4j.Opening_by_reconstruction
Plugins>mmlib4j>Filtering>, "Closing by reconstruction", mmlib4j.Closing_by_reconstruction
Plugins>mmlib4j>Filtering>, "Self-reconstruction", mmlib4j.Self_reconstruction
Plugins>mmlib4j>Filtering>, "H-basin", mmlib4j.Hbasin_reconstruction
Plugins>mmlib4j>Filtering>, "H-domes", mmlib4j.HDomes_reconstruction
Plugins>mmlib4j>Filtering>, "-"
Plugins>mmlib4j>Filtering>, "Gradient", mmlib4j.Morphological_gradient
Plugins>mmlib4j>Filtering>, "Gradient (internal)", mmlib4j.Morphological_internal_gradient
Plugins>mmlib4j>Filtering>, "Gradient (external)", mmlib4j.Morphological_external_gradient
Plugins>mmlib4j>Filtering>, "White top-hat", mmlib4j.White_TopHat
Plugins>mmlib4j>Filtering>, "Black top-hat", mmlib4j.Black_TopHat
Plugins>mmlib4j>Filtering>, "Self top-hat", mmlib4j.Self_TopHat
Plugins>mmlib4j>Filtering>, "Residual toggle mapping", mmlib4j.Morphological_ResidualToggleMapping
Plugins>mmlib4j>Filtering>, "Contrast enhancement (top-hat)", mmlib4j.Realce_TopHat
Plugins>mmlib4j>, "-"
Plugins>mmlib4j>Segmentation>, "Watershed based on minima", mmlib4j.Watershed_based_minima
Plugins>mmlib4j>Segmentation>, "Watershed by H-basin", mmlib4j.Watershed_by_HBasin
Plugins>mmlib4j>Segmentation>, "Watershed by marked", mmlib4j.Watershed_by_Marked
Plugins>mmlib4j>Segmentation>, "Labelings", mmlib4j.Labelings_
Plugins>mmlib4j>Segmentation>, "Extraction of regional extrema", mmlib4j.Extraction_of_regional_extrema
Plugins>mmlib4j>Segmentation>, "Extraction of regional maxima", mmlib4j.Extraction_of_regional_maxima
Plugins>mmlib4j>Segmentation>, "Extraction of regional minima", mmlib4j.Extraction_of_regional_minima
Plugins>mmlib4j>, "-"
Plugins>mmlib4j>Utility>, "Replace level", mmlib4j.Replace_level
Plugins>mmlib4j>Utility>, "Binary relation", mmlib4j.Binary_relation
Plugins>mmlib4j>Utility>, "Color space  (Chong)", mmlib4j.Colorspace_Chong
